.header__logo {
  max-width: 142px;
  max-height: 33px;
  margin-top: 45px;
}

@media screen and (max-width: 1000px) {
  .header__logo {
    margin-left: calc(27px - 27 * (100vw - 880px) / (1000 - 880));
  }
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin-left: 27px;
  }
}