.element {
  position: relative;
  min-width: 282px;
  background-color: #fff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: max-content 25px max-content 25px;
  grid-template-areas:
    "image image"
    ". ."
    "title like"
    ". .";
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 363px) {
  .element {
    max-width: calc(282px + 38 * (100vw - 320px) / (363 - 320));
  }
}